
/*Begin my own css; Use Hex code for colors: #000000 */

body {
  background-color: #fadadd;
  color:#030303;
  font-family: 'Georgia', serif;
  margin: 2em;
  padding: 3em 3em 3em 5em
  /*Padding starts with the top as "number 1," then goes clockwise from there*/
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #532F61;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to dark purple on hover */
li a:hover {
  background-color: #d0b5e9;
	color: black;

}

blockquote{
  text-indent: 5em;
  font-family: 'Georgia', serif;
	color: #532F61;
  border-left: .5em solid #8c8281;
  margin-left: 5em
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: .5em;
}

.home {
  width: 20%;
	height: 20%;
	float: left;
	padding-right: 3em;
}

.bigbend {
  width: 20%;
	height: 20%;
	float: left;
	padding-right: 3em;
}

.infographic {
  width: 20%;
	height: 20%;
	float: right;
	padding-left: 3em;
}

div {
	padding-left: 5em;
	padding-top: 5em;
	padding-right: 2em;
	padding-bottom: 5em;
}

.bigbenddiv {
	padding-left: 0em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
}

.cvdiv {
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}

.aboutme {
		padding-left: 0em;
		padding-top: 0em;
		padding-right: 0em;
		padding-bottom: 0em;
		margin-top: 0em
}

.distance {
width: 20%;
height: 20%;
padding-left: 0.5em;
padding-top: 0.5em;
padding-right: 0.5em;
padding-bottom: 0.5em;
margin-top: 0em
}

header {
	margin: 3em;
  padding: 4em 4em 4em 4em;
	background-color: #d0b5e9;
  color: #d0b5e9;

}

main {}

article {}

ul.footer {
	list-style-type: none;
	color:#532F61;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Verdana', sans-serif;
  color: #532F61;
}
