
/*Begin my own css; Use Hex code for colors: #000000 */

body {
  background-color: #fadadd;
  color:#030303;
  font-family: 'Georgia', serif;
  margin: 2em;
  padding: 0 3em 3em 5em
  /*Padding starts with the top as "number 1," then goes clockwise from there*/
}

ul.nav{
  list-style-type: none;
}

p {margin-left: 2em;}

ul, ol {margin: 1em;}

blockquote{
  text-indent: 5em;
  font-family: 'Georgia', serif;
  border-left: .5em solid #8c8281;
  margin-left: 5em
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: .5em;
}

img {
  width: 20%
	height: 20%
}

header {
	margin: 2em;
  padding: 4em 4em 4em 4em
	background-color: #e9bcbc;
  color: #e9bcbc;

}

main {}

article {}

footer {}

h1, h2, h3, h4, h5, h6{
  font-family: 'Verdana', sans-serif;
  color: #513597;
}
